/* Composer */

.composer {
	margin-bottom: 28px;
}

.composer textarea {
	font-size: 18px;
	width: 930px;
	margin-bottom: 6px;
}


.composer .form-actions {
	text-align: right;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.profile.avatar span{
	position:absolute;
	display:block;
	width:16px;height:16px;
	background-image:url('../images/network-icons.png');
	background-repeat:no-repeat;
	right:0;
	top:32px;
}

.profile.avatar.twitter span{
	background-position:0 0;
}


.profile {
	position: relative;
	width: 48px;
	height: 48px;
	margin-bottom: 5px;
}


/* Timeline */

.posts {
	margin-bottom: 25px;
}

ul.timeline {
	list-style-type: none;
	margin-left: 0px;
}

li.heading {
	padding: 10px 0px;
}

li.update {
	position: relative;
	padding: 10px 170px 22px 140px;
	border-bottom: 1px solid #EBEBEB;
	line-height: 22px;
	font-size: 15px;
	font-weight: 300;
	background-color: #FFF;
}

li.update:last-child {
	border-bottom: none;
}

span.time-due {
	position: absolute;
	top: 0px;
	left: 20px;
	padding: 10px 0px;
	color: #999;
}

div.options {
	position: absolute;
	top: 0px;
	right: 20px;
	padding: 10px 0px;
	opacity: 0.5;
}

li.update:hover div.options {
	opacity: 1;
}

li.update:hover .time-due {
	color: #000;
}

li.update:hover .update-body {
	color: #000;
}

.ui-state-highlight {
	background-color: #D6F2D0;
	height: 70px;
}

.sort-handle {
	cursor: move;
}

