<?php

/* Your application credentials, from dev.twitter.com */

define('CONSUMER_KEY', '');
define('CONSUMER_SECRET', '');

/* The URL you're serving the App from, including trailing slash */

define('APP_URL', 'http://tamponapp.com/');
